{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottm mb-4">Register Now</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            <!-- Already have an account??-->
        </form>   
    </div>
{% endblock %}